<h2>Topics of Interest</h2>
We welcome research exploring high-dimensional neural world models, symbolic state transition systems, and their intersections. The following non-exhaustive topics of interest include:
* Hybrid Modular Systems and End-to-End Architectures (e.g. neuro-symbolic graph networks)
    * **Neural aiding symbolic:** such as enhancing symbolic domains via latent world models for symbol (predicates, preconditions, and effects) discovery, extraction, and improving the interpretability of embeddings, neuro-symbolic program induction, or foundation model driven symbol generation for robotics tasks.
    * **Symbolic aiding neural:** such as leveraging symbolic planners for data collection to train neural world models for trajectory generation, symbolic priors to improve neural architectures, or latent dynamics combined with symbolic constraint modules.
* Task and Application Driven Robot World Modeling
    * Creating world model systems for specific robot applications and domains such as manufacturing.
    * Utilizing, adapting, and integrating non-robot specific world models for robotic systems and applications.
* Benchmarking, Evaluation, and Analysis
    * Defining the metrics for a "sufficient" robot world model.
    * Evaluating hybrid systems/architectures across modeling fidelity, diverse task success,deployment readiness, horizon limits, etc.
    * Analyzing benefits and drawbacks of combining neural and symbolic models.
* Surveys and Taxonomies
    * Comprehensive reviews of existing literature on neural, symbolic, and hybrid (neuro-symbolic) world models applied to robotic domains.
    * Surveys compiling literature that adapts and transfers world modeling techniques from non-robotics fields into robot applications and systems.
    * Taxonomies that illustrate and clarify the varying definitions, scopes, and types (e.g., neural, symbolic, hybrid) of "world models" across different research communities, tasks, and robotic applications.

<h2>Submission Guidlines</h2>
We solicit submissions themes in two formats
* **Short Papers:** Up to 4 pages (excluding references and appendices).
* **Long Papers:** Up to 8 pages (excluding references and appendices).

**Formatting & Anonymization:** All submissions must be anonymized (double-blind) and formatted using the standard IEEE conference paper format (IROS/ICRA style). Submissions may include supplementary material or appendices after the references, but reviewers are not required to read them.

**Non-Archival Policy:** This workshop is a non-archival venue, meaning accepted papers will not be published in formal IROS proceedings. Authors retain the copyright to their work and are free to resubmit their manuscripts to future venues or journals after acceptance.

**Dual-Submission Policy:** We welcome submissions of work in progress, preprints, papers currently under review, or recently published work (e.g. IROS main conference). However, we strongly encourage you to verify the other venue's dual-submission policy. 

**Submission Portal:** Please submit your manuscripts via OpenReview (Link: TBD).

<h2>Important Dates</h2>
To accommodate travel needs (such as visas and funding arrangements), we offer an early submission deadline in addition to the regular (late) one.
* **Early Paper Submission Deadline:** August 15, 2026
* **Early Author Notification:** August 25, 2026
* **Late Paper Submission Deadline:** August 25, 2026
* **Late Author Notification:** September 10, 2026
* **Camera-Ready Version Deadline:** September 20, 2026
* **Workshop Date:** September 27, 2026 (assuming for now)

_All deadlines are 11:59 PM Anywhere on Earth (AoE)._