<div class="support-panel">
  
  <div class="panel-logo-col">
    <a href="https://www.ieee-ras.org/" target="_blank" rel="noopener" aria-label="Visit IEEE Robotics & Automation Society Homepage">
      <img src="{{ "/images/ieee_ras_logo.webp" | relative_url }}" alt="IEEE Robotics & Automation Society Logo">
    </a>
  </div>

  <span class="vertical-separator" aria-hidden="true"></span>

  <div class="panel-text-col">
    <h3>IEEE RAS Technical Committee on Algorithms for Planning and Control of Robot Motion</h3>
  </div>
  
</div>