<div class="spotlight-container">
  {% for paper in site.data.spotlights %}
    <a {% if paper.award %}id="award-{{ paper.award }}"{% endif %} href="{{ paper.link }}" class="spotlight-card" target="_blank" rel="noopener noreferrer">
      
      <!-- <span class="spotlight-badge">Spotlight Paper</span> -->
      
      <h3 class="spotlight-title">
        {% if paper.award %}
          {% case paper.award %}
            {% when 1 %}<span class="award-text">(1st)</span><span class="award-icon">🥇</span>
            {% when 2 %}<span class="award-text">(2nd)</span><span class="award-icon">🥈</span>
            {% when 3 %}<span class="award-text">(3rd)</span><span class="award-icon">🥉</span>
            {% when 4 %}<span class="award-text">(4th)</span><span class="award-icon">🏅</span>
          {% endcase %}
        {% endif %}
        <span class="title-text">{{ paper.title }}</span>
      </h3>

      
      {% if paper.authors %}
        <p class="spotlight-authors">{{ paper.authors }}</p>
      {% endif %}
      
    </a>
  {% endfor %}
</div>